<div class="p-2 w-100">
    <div class="my-3">
        <div class="col">
           <div class="d-flex align-items-center ms-1">
             <img class="me-3 p-1" src="/img/avatarSmall.svg" alt="" srcset="" />
                <div>
                  <p class="mb-0 fw-bold"><%=follow.firstname%> <%=follow.lastname%></p>
                  <p class="mb-0 font-grey">@<%=follow.email%></p>
                </div>
                <form id="follow-form" action="/usuarios/followers/:id/follow" method="POST">
                  <input type="hidden" name="userId" value="<%= follow._id %>">
                  <button type="submit" class="btn ms-auto me-1 rounded-pill btn-skyblue">Seguir</button>
                </form>
                <form id="follow-form" action="/usuarios/followers/:id/unfollow" method="POST">
                  <input type="hidden" name="userId" value="<%= follow._id %>">
                  <button type="submit" class="btn ms-auto me-1 rounded-pill btn-skyblue">Deseguir</button>
                </form>
            </div>
        </div>     
    </div>      
</div>
    