<div class="card border-0 px-2 card-css">
  <ul class="list-group list-group-flush container">
    <li class="p-3"><h4 class="fw-bolder">Who to follow</h4></li>
    <% for (let i = 0; i < 5; i++) { %>
      <% const user = users[Math.floor(Math.random()*users.length)]; %>
      <li class="pb-2 ps-2">
        <div class="d-flex align-items-center ms-1">
          <img class="me-3 p-1 rounded-circle h-25 w-25" src="<%=user.photoProfile%>" alt="" />
          <div>
            <a href="/usuarios/<%=user.username%>" class="mb-0 fw-bold text-dark"><%= user.firstname %> <%= user.lastname %></a>
            <p class="mb-0 font-grey">@<%= user.username %></p>
          </div>
          <div>
            <% const userFollowedByLoggedUser = req.user.following.includes(user._id);%> 
              <% if (req.user.id !== user.id) { %>
                <% if (!userFollowedByLoggedUser) { %>
                  <form id="follow-form" action="/usuarios/followers/follow" method="POST">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <button type="submit" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</button>
                  </form>
                <% } else { %>
                  <form id="follow-form" action="/usuarios/followers/unfollow" method="POST">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <button type="submit" class="btn ms-auto me-1 rounded-pill btn-skyblue">Unfollow</button>
                  </form>
                <% } %>
              <% } %>
          </div>
        </div>
      </li>
    <% } %>
  </ul>
</div>
