<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>

  <body>
    <div class="container- fluid">
      <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-2"><%- include("../partials/navbarSide") %></div>
        

<div class="col-6">
  
  <%- include("../partials/write") %>
<!-- -->
<% for (let i=0;i<tweets.length;i++){ %>

<div class="border p-3" style="display: flex;">
<div id="photo-tweet">
  <img
                  id=""
                  class="me-3"
                  src="/../img/avatarSmall.svg"
                  alt=""
                  srcset=""
                />
   
</div>
<div>
  <h3 class="inline-b fs-5 fw-bold"><span><%=tweets[i].author.firstname  %></span><span> <%=tweets[i].author.lastname  %></span> </h3>
  <p class="inline-b grey-letter"> @<%=tweets[i].author.username  %></p>
  <p ><%=tweets[i].content  %></p>
  <a href=""><img src="/img/heart.svg" alt="" srcset="" /></a> 
  <p class="ms-1 inline-b like-color m-0 me-auto"><%=tweets[i].likes  %></p>
</div>

<!--  -->
</div>
<% } %>
</div>

<div class="col-3">
  <%- include("../partials/happening") %> <br><%- include("../partials/toFollow") %>
</div>

    </div>
      
    </div>
    
  </body>
</html>
