<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/meta')%>
    
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2 ps-5"><%-include('../partials/navbarSide') %></div>
        <div class="col-5 border px-0">
          <div class="container px-0" id="main-cont">
            <div class="bg-primary" id="blue-div">
              <img id="portada" src="<%=user.photoPortada%>" alt="">
              <div class="white-div" id="white-div">
                <img
                  id="photo-profile"
                  class="me-3"
                  src="<%=user.photoProfile%> <%console.log(user.photoProfile)%>"
                  alt=""
                  srcset=""
                />
                <div>
                  <div class="mb-3">
                    <h5 id="username"><%=user.firstname%> <%=user.lastname%></h5>
                    <p class="grey-letter">@<%=user.username %></p>
                    <p><%=user.bio %></p>
                  </div>
                                </div>
                                <% if (user.username !== req.user.username) { %>
                                  <% const userFollowedByLoggedUser = req.user.following.includes(user._id);%> 
                                  <% if (req.user.id !== user.id) { %>
                                    <% if (!userFollowedByLoggedUser) { %>
                                      <form id="follow-form" action="/usuarios/followers/follow" method="POST">
                                        <input type="hidden" name="userId" value="<%= user._id %>">
                                        <button type="submit" id="follow-btn" class="btn ms-auto me-1 rounded-pill btn-skyblue">Follow</button>
                                      </form>
                                    <% } else { %>
                                      <form id="follow-form" action="/usuarios/followers/unfollow" method="POST">
                                        <input type="hidden" name="userId" value="<%= user._id %>">
                                        <button type="submit" id="unfollow-btn"  class="btn ms-auto me-1 rounded-pill btn-gray">Unfollow</button>
                                      </form>
                                    <% } %>
                                  <% } %>
                                <% } %>
                                <div id="follows-numbers" style="margin-left: auto">
                  <div id="follows" class="grey-letter">
                    <span class="number"><%=user.followers.length %></span> <a href="followers/<%=user.username%>" >Followers</a>
                    <span class="number"><%=user.following.length %></span> <a href="following/<%=user.username%>">Following</a>
                  </div>
                                </div>
                                
                </div>
            </div>
          </div>
          <div id="tweet-container">
            <h3>Tweets</h3>
            <% for (const tweet of tweets) { %>     
               <%- include("../partials/tweet", {tweet,formatDistanceToNow}) %> 
               <% } %>
          </div>
        </div>
        <div class="col-3 mt-3">
          <%- include("../partials/happening") %> <br />
          <%- include("../partials/toFollow") %>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </body>
</html>
