<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/../css/styleProfile.css" />
    <link rel="stylesheet" href="/../css/partialStyle.css" />
    <link rel="stylesheet" href="/../css/styles.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2 ps-5"><%-include('../partials/navbarSide') %></div>
        <div class="col-5 border px-0">
          <div class="container px-0" id="main-cont">
            <div class="bg-primary" id="blue-div">
               <img id="portada" src="../img/<%=user.photoPortada%>" alt="">
              <div class="white-div" id="white-div">
                <img
                  id="photo-profile"
                  class="me-3"
                  src="/../img/<%=user.photoProfile%>"
                  alt=""
                  srcset=""
                />
                <div>
                  <h5 id="username"><%=user.firstname%></h5>
                  <p class="grey-letter">@<%=user.username %></p>
                  <p><%=user.bio %></p>
                </div>
              </div>
              <% if (user.username !== req.user.username) { %>
                <button class="btn btn-skyblue" id="follow-btn">
                <a href="">Follow</a>
              </button>
              <% } %>
              <div id="follows-numbers" style="margin-left: auto">
                <p id="follows" class="grey-letter">
                  <span class="number"><%=user.following.length %></span> Following
                  <span class="number"><%=user.followers.length %></span> Followers
                </p>
              </div>
            </div>
          </div>
          <div id="tweet-container">
            <h3>Tweets</h3>
            <% for (const tweet of tweets) { %>     
               <%- include("../partials/tweet", {tweet}) %> 
               <% } %>
          </div>
        </div>
        <div class="col-3 mt-3">
          <%- include("../partials/happening") %> <br />
          <%- include("../partials/toFollow") %>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </body>
</html>
